@import "../../style/variables.css";

.choose-server__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .choose-server__list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
