@import "../../style/variables.css";
.donation-container {
  max-width: 1160px;
  margin: 0 auto;
  border-radius: 49.7748px;
  padding: 1.53px;
  background: linear-gradient(0deg, #fca554 13.62%, rgba(237, 137, 45, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1170px) {
  .donation-container {
    margin: 0 10px;
  }
}
.donation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: linear-gradient(180deg, #9c4b28 0%, #4a200e 100%);
  box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
  border-radius: inherit;
  width: 100%;
  height: 406.97px;
  margin: 0 auto;
}
.donation .donation__header {
  width: 480px;
  margin-left: 100px;
}
.donation .donation__header .donation__name {
  display: flex;
  margin-bottom: 23.38px;
}
.donation .donation__header .donation__name .donation__name_img {
  margin-right: 14.32px;
}
.donation .donation__header .donation__input_wrapper {
  border-radius: 50px;
  height: 79.41px;
}
.donation .donation__header .donation__input_wrapper input {
  background-color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 40px;
  padding-right: 0;
  border-radius: inherit;
}
.donation .donation__header .donation__input_wrapper .donation__background {
  position: absolute;
  bottom: -100px;
  left: -80px;
}
.donation .donation__header .donation__input_wrapper::before {
  content: url("/public/media/man-icon.svg");
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 61px;
  height: 100%;
  top: 0;
  left: 0;
  background: #532410;
  border: none;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.donation .donation__header .button__link {
  position: absolute;
  top: -1px;
  right: -1px;
}
.donation .donation__header .donation__input_button {
  position: static;
  width: 80px;
  height: 80px;
  padding: 0;
}
.donation .donation__header .donation__input_button button .input__button_img {
  width: 100%;
  height: 100%;
}
.donation .donation__header .donation__input_button::after {
  content: "";
  position: absolute;
  top: 25.7px;
  left: 20.41px;
  background: url("/public/media/input-button-arrow.svg") no-repeat;
  background-size: cover;
  width: 36px;
  height: 24px;
}
.donation .donation__footer {
  width: 318px;
  height: 318px;
  align-self: center;
  position: relative;
  margin-right: 149px;
  margin-top: 40px;
}
.donation .donation__footer .donation__chest {
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  z-index: 2;
}
.donation .donation__footer .donation__background {
  position: absolute;
}
.donation .donation__footer .donation__background1 {
  top: -27.33px;
  left: -0.43px;
  z-index: 3;
}
.donation .donation__footer .donation__background2 {
  bottom: -21.74px;
  left: -67.98px;
}
.donation .donation__footer .donation__background3 {
  top: 5.85px;
  right: -10.41px;
  z-index: 1;
}
.donation .donation__footer .donation__background5 {
  right: -35.73px;
  bottom: 3.91px;
}

@media screen and (max-width: 1024px) {
  .donation-container {
    max-width: 407.5px;
    margin: 0 auto;
  }
  .donation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
    background: linear-gradient(180deg, #9c4b28 0%, #4a200e 100%);
    box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
    border-radius: 49.7748px;
    min-width: 350px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 36px;
  }
  .donation .donation__header {
    flex-grow: 0;
    margin-left: 0;
    width: 100%;
  }
  .donation .donation__header .donation__name {
    display: flex;
    margin-bottom: 23.38px;
  }
  .donation .donation__header .donation__name .donation__name_img {
    margin-right: 14.32px;
  }
  .donation .donation__header .donation__input_wrapper {
    position: relative;
    width: 100%;
    height: 55.48px;
    background: #994927;
    border-radius: 34.9334px;
    margin-bottom: 38.44px;
    box-shadow: none;
  }
  .donation .donation__header .donation__input_wrapper .button__link {
    top: 0;
    right: 0;
  }
  .donation .donation__header .donation__input_wrapper .donation__input_button {
    width: 55.48px;
    height: 55.48px;
  }
  .donation .donation__header .donation__input_wrapper .donation__input_button:after {
    position: absolute;
    top: 17.96px;
    left: 14.26px;
    background-size: cover;
    width: 25.15px;
    height: 16.77px;
  }
  .donation .donation__header .donation__input_wrapper .donation__background4 {
    position: absolute;
    top: 100px;
    left: 0;
  }
  .donation .donation__header .donation__input_wrapper .donation__input {
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0 55.48px 0 75.31px;
    background-color: inherit;
    border: none;
    border-radius: 34.9334px;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 13.9734px;
    line-height: 17px;
    text-shadow: none;
  }
  .donation .donation__header .donation__input_wrapper .donation__input::placeholder {
    color: white;
  }
  .donation .donation__header .donation__input_wrapper::before {
    display: block;
    content: "";
    position: absolute;
    width: 57.9px;
    height: 100%;
    top: 0;
    left: 0;
    background: #532410;
    border: none;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
  }
  .donation .donation__header .donation__input_wrapper1::after {
    content: "";
    position: absolute;
    width: 18.33px;
    height: 22.91px;
    top: 15.71px;
    left: 25.21px;
    background: url("/public/media/man-icon.svg") no-repeat;
    background-size: cover;
  }
  .donation .donation__header .donation__input_button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
  }
  .donation .donation__header .input__button_img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .donation .donation__footer {
    flex-grow: 1;
    width: 193px;
    height: 193px;
    align-self: center;
    position: relative;
    margin-right: 0;
  }
  .donation .donation__footer .donation__background2 {
    bottom: -21.74px;
    left: -67.98px;
  }
  .donation .donation__footer .donation__background3 {
    top: 5.85px;
    right: -10.41px;
    z-index: 1;
  }
  .donation .donation__footer .donation__background5 {
    right: -35.73px;
    bottom: 3.91px;
  }
}
@media screen and (max-width: 424px) {
  .donation-container {
    margin: 0 5px;
  }
}

/*# sourceMappingURL=Donation.css.map */
