@import "../../style/variables.css";
.pay-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12.5px);
  z-index: 10;
}
.pay-modal .pay-modal__container {
  max-height: 90%;
  width: 1160px;
  padding: 1.53px;
  border-radius: 49.7748px;
  background: linear-gradient(0deg, #fca554 13.62%, rgba(237, 137, 45, 0) 100%);
  overflow: auto;
}
.pay-modal .pay-modal__container::-webkit-scrollbar {
  display: none;
}
.pay-modal .pay-modal__content::-webkit-scrollbar {
  display: none;
}
.pay-modal .pay-modal__content {
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, #9c4b28 0%, #4a200e 105.16%);
  border-radius: inherit;
  padding-top: 52px;
  overflow: scroll;
  color: white;
}
.pay-modal .pay-modal__content .container {
  width: 560px;
  margin: 0 auto;
}
.pay-modal .pay-modal__content .container hr {
  border: none;
  background: #532410;
  height: 0.5px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info {
    padding-right: 0 !important;
  }
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px;
  width: 100%;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26.2401px;
  line-height: 32px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info .pay-modal__button {
  position: absolute;
  top: 34.75px;
  right: 28.63px;
  box-shadow: none;
  width: 48.63px;
  height: 48.64px;
  z-index: 5;
  padding: 0;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info .pay-modal__button button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: #532410;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info {
  align-self: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info hr {
  width: 100%;
}
.pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info p span {
  font-weight: 700;
  font-style: normal;
  font-size: 21.0067px;
  line-height: 26px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer {
  padding-top: 44px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation {
  margin-bottom: 29.79px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper {
  position: relative;
  width: 100%;
  height: 79.41px;
  border-radius: 50px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper .pay-modal__input {
  padding-left: 114.09px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper .pay-modal__input_background {
  position: absolute;
  top: 76.86px;
  left: -62.15px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper:first-child {
  margin-bottom: 22px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper::before {
  content: "";
  position: absolute;
  width: 91.63px;
  height: 100%;
  top: 0;
  left: 0;
  background: #532410;
  border: none;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper1::after {
  top: 24.87px;
  left: 39.89px;
  content: " ";
  position: absolute;
  background: url("/public/media/input-arrow.svg") no-repeat;
  background-size: cover;
  width: 32.97px;
  height: 29.67px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__input_wrapper2::after {
  top: 24.87px;
  left: 39.89px;
  position: absolute;
  content: " ";
  background: url("/public/media/input-promo.svg");
  background-size: cover;
  width: 32.97px;
  height: 26.38px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__categories {
  display: flex;
  justify-content: start;
  font-style: normal;
  font-weight: 700;
  font-size: 14.6244px;
  line-height: 18px;
  margin-bottom: 25.21px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__categories .pay-modal__category {
  text-align: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 19px;
  border: 3.6561px solid #572611;
  border-radius: 49.7748px;
  margin-right: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14.6244px;
  line-height: 18px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-variant__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 29.96px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__pay-variants {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  column-gap: 13px;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 35.56px;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__pay-variants .pay-modal__pay-variant {
  width: 126.7px;
  height: 80.24px;
  border: 3.23px solid white;
  border-radius: 19.3582px;
  cursor: pointer;
  background: url("/public/media/payment/payment-icon.svg") no-repeat center;
}
.pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__pay-variants .pay-modal__active {
  background-color: white;
}
.pay-modal .pay-modal__content .pay-modal__footer {
  background: linear-gradient(180deg, #461b08 0%, #4a200e 105.16%);
  box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 55px;
}
.pay-modal .pay-modal__content .pay-modal__footer .modal__footer_checkbox-area {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.pay-modal .pay-modal__content .pay-modal__footer .modal__footer_checkbox-area .checkbox__container {
  width: 25px;
  height: 25px;
}
.pay-modal .pay-modal__content .pay-modal__footer .modal__footer_button {
  width: 277px;
  height: 64px;
  order: -1;
  margin-right: 32px;
  box-shadow: none;
}
.pay-modal .pay-modal__content .pay-modal__footer .modal__footer_button b {
  padding: 17px 43px 25px;
}
.pay-modal .pay-modal__content .pay-modal__footer .modal__footer_button p {
  background: linear-gradient(180deg, #ffffff 55.73%, #aa3504 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 17.3719px;
  line-height: 21px;
}
.pay-modal .pay-modal__content::-webkit-scrollbar {
  display: none;
}

.pay-modal::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  .pay-modal {
    overflow: scroll;
    padding-top: 27.9px;
    padding-left: 15.83px;
    padding-right: 15.83px;
  }
  .pay-modal .pay-modal__content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, #9c4b28 0%, #4a200e 105.16%);
    border-radius: 49.7748px;
    padding-top: 27px;
    padding-left: 17px;
    padding-right: 17px;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  .pay-modal .pay-modal__content .container {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
  }
  .pay-modal .pay-modal__content .container hr {
    border: none;
    background: #532410;
    height: 0.5px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 311.74px;
    align-self: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info {
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__content_header_info {
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 70px;
    margin-bottom: 27.71px;
  }
}
@media screen and (max-width: 1024px) {
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info {
    width: 314px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    margin-bottom: 33.44px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info img {
    margin-right: 16px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_header .pay-modal__info p span {
    font-weight: 700;
    font-style: normal;
    font-size: 21.0067px;
    line-height: 26px;
  }
}
@media screen and (max-width: 1024px) {
  .pay-modal .pay-modal__content .container .pay-modal__content_footer {
    width: 100%;
    padding-top: 35.3px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation {
    margin-bottom: 22.73px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input_wrapper {
    height: 50.18px;
    border-radius: 31.6px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input {
    padding-left: 72.11px;
    font-style: normal;
    font-weight: 400;
    font-size: 12.6376px;
    line-height: 15px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input_wrapper:first-child {
    margin-bottom: 14px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input_wrapper::before {
    display: block;
    width: 57.9px;
    height: 100%;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input_wrapper1::after {
    display: block;
    top: 15.71px;
    left: 25.21px;
    width: 20.83px;
    height: 18.75px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__confirmation .pay-modal__input_wrapper2::after {
    display: block;
    top: 16.76px;
    left: 25.21px;
    width: 20.83px;
    height: 16.67px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__categories {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 14.6244px;
    line-height: 18px;
    margin-bottom: 33.44px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__categories .pay-modal__category {
    font-style: normal;
    font-weight: 700;
    font-size: 14.6244px;
    line-height: 18px;
    flex-grow: 1;
    text-align: center;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15.339px 10.959px;
    margin-right: 9.51px;
    border: 3.6561px solid #572611;
    border-radius: 49.7748px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-variant__name {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 19px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__pay-variants {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 97px);
    justify-content: space-evenly;
    column-gap: 13px;
    row-gap: 20px;
    align-items: center;
    margin-bottom: 33px;
  }
  .pay-modal .pay-modal__content .container .pay-modal__content_footer .pay-modal__pay-variants .pay-modal__pay-variant {
    width: 97.94px;
    height: 62.03px;
    background-size: 25.56px 26.19px;
  }
}
@media screen and (max-width: 1024px) {
  .pay-modal .pay-modal__content .pay-modal__footer {
    background: linear-gradient(180deg, #461b08 0%, #4a200e 105.16%);
    box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
    border-radius: 49.7748px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -17px;
    margin-right: -17px;
    padding-top: 19px;
    padding-bottom: 22px;
  }
  .pay-modal .pay-modal__content .pay-modal__footer .modal__footer_checkbox-area {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 21px;
  }
  .pay-modal .pay-modal__content .pay-modal__footer .modal__footer_button {
    width: 277px;
    height: 64px;
    order: 1;
    margin-bottom: 22px;
    margin-right: 0;
  }
  .pay-modal .pay-modal__content .pay-modal__footer .modal__footer_button p {
    background: linear-gradient(180deg, #ffffff 55.73%, #aa3504 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 17.3719px;
    line-height: 21px;
  }
}

/*# sourceMappingURL=PayModal.css.map */
