@import "../../style/variables.css";

.donation-pc__container {
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 49.7748px;
  background: linear-gradient(0deg, #fca554 13.62%, rgba(237, 137, 45, 0) 100%);
  padding: 1.53px;
}

.donation-pc {
  background: linear-gradient(180deg, #9c4b28 0%, #4a200e 105.16%);
  box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
  padding: 55.44px 135.11px 93.39px;
  max-width: 1580px;
  border-radius: 49.7748px;

  .donation-pc__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 49.48px;
    font-style: normal;
    font-weight: 700;
    font-size: 33.766px;
    line-height: 41px;
    overflow: hidden;

    color: #ffffff;

    .donation-pc__header_nickname {
      display: flex;
      align-items: center;
      flex-grow: 8;
      width: available;
      overflow: hidden;
      img {
        margin-right: 16.35px;
      }

      p {
        text-overflow: ellipsis;
      }
    }

    .donation-pc__header_goods {
      display: flex;
      justify-content: end;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      flex-grow: 4;
    }
    .donation-pc__header_goods_item:not(:last-child) {
      margin-right: 27px;
    }
  }

  hr {
    height: 2.3px;
    border: none;
    background: #5e2a13;
  }

  .donation-pc__footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 303px);
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 33.33px;
    .donation-pc__footer_item_footer {
      margin-top: 11.21px;
    }
  }
}
@media screen and (max-width: 1600px) {
  .donation-pc__container {
    margin-right: 10px;
    margin-left: 10px;
  }
  .donation-pc {
    .donation-pc__header {
      display: flex;
      flex-direction: column;
      .donation-pc__header_nickname {
        margin-bottom: 20px;
      }
      .donation-pc__header_goods {
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .donation-pc {
    padding: 24.12px 0 55.91px;
    .donation-pc__header {
      .donation-pc__header_nickname {
        font-style: normal;
        font-weight: 700;
        font-size: 23.5912px;
        line-height: 29px;

        margin-left: 53.96px;
      }
      @media screen and (max-width: 440px) {
        .donation-pc__header_goods {
          justify-content: start;
        }
      }
      .donation-pc__header_goods {
        overflow: scroll;
        margin-left: 17.66px;
        .donation-pc__header_goods_item {
          margin-right: 10px;
        }
      }
      .donation-pc__header_goods::-webkit-scrollbar {
        display: none;
      }
    }
    .donation-pc__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 0;
      .donation-pc__footer_item_indicators {
        display: flex;
        .donation-pc__footer_indicator {
          width: 58px;
          height: 8.26px;
          background: #37180a;
          border-radius: 18px;
        }
        .donation-pc__selected {
          background: #fba454;
        }
        .donation-pc__footer_indicator:not(:last-child) {
          margin-right: 5px;
        }
      }
      .customSwiper {
        .donation-pc__footer_item {
          max-width: 328px;
          margin-top: 33.9px;
        }
      }
    }
  }
}
