@import "../../style/variables.css";

.donation-pc__container {
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.donation-pc {
  background: linear-gradient(180deg, #9c4b28 0%, #4a200e 105.16%);
  box-shadow: inset 0px -7.65766px 0px rgba(0, 0, 0, 0.25);
  border-radius: 49.7748px;
  padding: 55px 8% 93px;
  margin-right: 10px;
  margin-left: 10px;

  .donation-pc__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 49px;
    font-style: normal;
    font-weight: 700;
    font-size: 33.766px;
    line-height: 41px;

    color: #ffffff;

    .donation-pc__header_nickname {
      display: flex;
      align-items: center;
      flex-grow: 8;
      margin-bottom: 24px;
      img {
        margin-right: 16.35px;
      }
    }

    .donation-pc__header_goods {
      display: flex;
      justify-content: space-between;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      flex-grow: 4;
    }
  }

  hr {
    height: 2.3px;
    border: none;
    background: #5e2a13;
  }

  .donation-pc__footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 303px);
    column-gap: 30px;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
  }
}

@media screen and (max-width: 1024px) {
  .donation-pc {
    .donation-pc__header {
      display: flex;
      flex-direction: column;
      .donation-pc__header_goods {
        overflow: scroll;
        .donation-pc__header_goods_item:not(:last-child) {
          margin-right: 10px;
        }
      }
      .donation-pc__header_goods::-webkit-scrollbar {
        display: none;
      }
    }
    .donation-pc__footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 0;
      .donation-pc__footer_item_indicators {
        display: flex;
        .donation-pc__footer_indicator {
          width: 58px;
          height: 8.26px;
          background: #37180a;
          border-radius: 18px;
        }
        .donation-pc__footer_indicator:not(:last-child) {
          margin-right: 5px;
        }
      }
      .all__pages_container {
        .donation-pc__footer_item {
          min-width: 328px;
          margin-top: 33.9px;
        }
      }
    }
  }
}
