@import "../../../style/variables.css";

.category {
  border: 3px solid #572611;
  border-radius: 36px;
  padding: 12px 16px;

  font-weight: 700;
  font-size: 12.0206px;
  line-height: 15px;
}

.active {
  border-color: transparent !important;
  background: #fba454;
}

@media screen and (min-width: 1024px) {
  .category {
    border: 5px solid #572611;
    border-radius: 36px;
    padding: 20px 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .active {
    border-color: transparent !important;
    background: #fba454;
  }
} ;
