@import "style/variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #c18e08 0%, #bd570e 100%);
  font-family: "Montserrat", sans-serif;
}

.App {
  margin-top: 70px;
  .general {
    background: url("/public/media/pc-sword1.png") no-repeat top -48px right 154px,
      url("/public/media/pc-sword2.png") no-repeat top 216px left 43px,
      url("/public/media/pc-sword-blur.png") no-repeat top 757px right 41px,
      url("/public/media/pc-background1.png") no-repeat top 328px right 41px,
      url("/public/media/background2.png") no-repeat top 531px left -296px;

    background-size: auto, auto, auto, auto, auto;
  }
  .start {
    .header {
      margin-bottom: 0;
    }
    .start-items__container {
      margin: 0 auto;
      display: flex;
      width: 995px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .App {
    margin-top: 35px;
    .general {
      background: url("/public/media/sword1.png") no-repeat right top 238px,
        url("/public/media/sword-blur.png") no-repeat left top 500px,
        url("/public/media/background1.png") no-repeat center top 347px, none;
      background-size: auto, auto, 135%;
    }
    .start {
      color: #ffffff;

      .start-items {
        padding-bottom: 56px;
        .start-items__container {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          width: 83%;
        }
      }
      .choose-server {
        background: #4a2110;
        padding-top: 32px;
        .container {
          width: 83%;
          .choose-server__name {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;

            margin-bottom: 35px;
          }
        }
      }
    }
  }
}

.blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  backdrop-filter: blur(12.5px);
}
