@import "style/variables.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #c18e08 0%, #bd570e 100%);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes floating {
  0% {
    background: url("/public/media/pc-sword1.png") no-repeat top -48px right 154px, url("/public/media/pc-sword2.png") no-repeat top 216px left 43px, url("/public/media/pc-sword-blur.png") no-repeat top 757px right 41px, url("/public/media/pc-background1.png") no-repeat top 328px right 41px, url("/public/media/background2.png") no-repeat top 531px left -296px;
  }
  50% {
    background: url("/public/media/pc-sword1.png") no-repeat top -48px right 154px, url("/public/media/pc-sword2.png") no-repeat top 216px left 43px, url("/public/media/pc-sword-blur.png") no-repeat top 757px right 41px, url("/public/media/pc-background1.png") no-repeat top 348px right 41px, url("/public/media/background2.png") no-repeat top 551px left -296px;
  }
  100% {
    background: url("/public/media/pc-sword1.png") no-repeat top -48px right 154px, url("/public/media/pc-sword2.png") no-repeat top 216px left 43px, url("/public/media/pc-sword-blur.png") no-repeat top 757px right 41px, url("/public/media/pc-background1.png") no-repeat top 328px right 41px, url("/public/media/background2.png") no-repeat top 531px left -296px;
  }
}
.App {
  overflow-x: hidden;
}
.App .general {
  margin-top: 70px;
  background-size: auto, auto, auto, auto, auto;
  animation: floating ease-in-out 5s infinite;
  color: white;
}
.App .start {
  margin-top: 70px;
  color: #ffffff;
}
.App .start .header {
  margin-bottom: 0;
}
.App .start .start-items .start-items__container {
  margin: 0 auto 84px;
  display: flex;
  width: 995px;
  height: 415px;
}
.App .start .start-items .start-items__container hr {
  border: none;
  width: 0.51px;
  height: 90%;
  margin-right: 50px;
  margin-left: 50px;
  background: #532410;
  align-self: end;
}
.App .start .choose-server {
  background: #4a2110;
  padding-top: 70.45px;
  padding-bottom: 68px;
}
.App .start .choose-server .choose-server__container {
  max-width: 1160px;
  margin: 0 auto;
}
.App .start .choose-server .choose-server__container .choose-server__name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 35px;
}
.App .ban-page {
  color: white;
}
.App .ban-page .ban-page__wrapper {
  padding-bottom: 210px;
  padding-top: 35px;
  background: url("/public/media/ban-page-background-bricks.png") no-repeat bottom -5px center, url("/public/media/ban-page-background-large.png") no-repeat center;
  background-size: contain, cover;
}
.App .ban-page .header__container {
  background: linear-gradient(90deg, #fca554 70.97%, rgba(237, 137, 45, 0) 166.37%);
}
.App .ban-page .header__container .header {
  margin-top: 0;
}
.App .ban-page .ban-page__main {
  display: flex;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
  flex-direction: column;
}
.App .ban-page .ban-page__main .ban-page__main_container {
  display: flex;
  justify-content: center;
  align-items: start;
  align-self: end;
  flex-direction: column;
  width: 575px;
  margin-top: 143.82px;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__main_name {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 10px;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__main_info {
  font-size: 23px;
  font-weight: 400;
  line-height: 37px;
  margin-bottom: 41px;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper {
  max-width: 433px;
  height: 71.1px;
  box-shadow: none;
  background: transparent;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper .ban-page__input {
  padding-left: 97.37px;
  font-style: normal;
  font-weight: 400;
  font-size: 18.0665px;
  line-height: 22px;
  color: #ffffff;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper .ban-page__input_button {
  width: 71.73px;
  height: 71.73px;
  box-shadow: none;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper .ban-page__input::placeholder {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 18.0665px;
  line-height: 22px;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper::before {
  content: "";
  position: absolute;
  width: 78.49px;
  height: 100%;
  top: 0;
  left: 0;
  background: #532410;
  border: none;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper::after {
  top: 21.22px;
  left: 32.25px;
  content: "";
  position: absolute;
  background: url("/public/media/man-icon.svg") no-repeat center;
  background-size: cover;
  width: 23.7px;
  height: 29.62px;
}
.App .ban-page .ban-page__art-area {
  padding-top: 162px;
  display: flex;
  justify-content: center;
  position: relative;
}
.App .ban-page .ban-page__art-area .ban-page__art-area_container {
  position: relative;
  max-width: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 91%;
}
.App .ban-page .ban-page__art-area .ban-page__art-area_container img {
  position: absolute;
  bottom: 74px;
  left: 76px;
}
.App .ban-page .ban-page__art-area .ban-page__background-bricks {
  width: 100%;
  position: absolute;
  bottom: -3px;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .App .ban-page .ban-page__art-area {
    padding-top: 346px;
  }
}
@media screen and (max-width: 1024px) {
  .App .general {
    background: url("/public/media/sword1.png") no-repeat right top 238px, url("/public/media/sword-blur.png") no-repeat left top 500px, url("/public/media/background1.png") no-repeat center top 347px, none;
    background-size: auto, auto, 135%;
    animation: none;
    margin-top: 35px;
  }
  .App .start {
    margin-top: 35px;
  }
  .App .start .start-items {
    padding-bottom: 56px;
  }
  .App .start .start-items .start-items__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 83%;
    height: auto;
  }
  .App .start .choose-server {
    background: #4a2110;
    padding-top: 32px;
  }
  .App .start .choose-server .choose-server__container {
    width: 83%;
  }
  .App .start .choose-server .choose-server__container .choose-server__name {
    width: 354px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 35px;
  }
  .App .ban-page {
    color: white;
    overflow: hidden;
  }
  .App .ban-page .ban-page__wrapper {
    padding-top: 35px;
    padding-bottom: 134px;
    background: url("/public/media/ban-page-background-small.png") no-repeat center;
    background-size: cover;
  }
  .App .ban-page .header {
    margin-top: 0;
    margin-bottom: 0;
  }
  .App .ban-page .ban-page__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 16.1972px;
    line-height: 20px;
    color: #ffffff;
  }
  .App .ban-page .ban-page__main .ban-page__main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 91%;
    max-width: 605px;
  }
  .App .ban-page .ban-page__main .ban-page__main_container .ban-page__input {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16.1972px !important;
    line-height: 20px;
  }
  .App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_button {
    box-shadow: none;
  }
  .App .ban-page .ban-page__main .ban-page__main_container .ban-page__main_name {
    font-size: 19.68px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .App .ban-page .ban-page__main .ban-page__main_container .ban-page__main_info {
    font-size: 16.67px;
    font-weight: 400;
    line-height: 22.95px;
    margin-bottom: 41px;
  }
  .App .ban-page .ban-page__main .ban-page__main_container .ban-page__input_wrapper {
    max-width: 433px;
    box-shadow: none;
  }
  .App .ban-page .ban-page__art-area .ban-page__art-area_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 91%;
    max-width: 605px;
  }
  .App .ban-page .ban-page__art-area .ban-page__art-area_container img {
    position: absolute;
    bottom: 17px;
    left: 76px;
  }
}
.blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  backdrop-filter: blur(12.5px);
}

/*# sourceMappingURL=App.css.map */
